<p>Did you know that <%=@user.fname %> <%= @user.lname %> is wanted in <%= rand(20) %> different states?</p>

<p>Fun fact: <%= @user.fact %></p>

<%= link_to("delete", user_path(@user.id), method: :delete)%>
<%= link_to("edit", edit_user_path(@user.id))%>