<p>Did you know that <%=@user.fname %> <%= @user.lname %> is wanted in <%= rand(20) %> different states?</p>
<p> This account was created <%= distance_of_time_in_words(Time.now, @user.created_at) %> ago </p>

<p>Fun fact: <%= @user.fact %></p>

<%= link_to("delete", user_path(@user.id), method: :delete)%>
<%= link_to("edit", edit_user_path(@user.id))%>